@import "../../_variables";
@import "../../_mixins";

/* Masquer le bouton Print */
a#cw_print_btn{
	display: none;
}

/* Properties group header */
div.cwPropertiesTableHeader {
  font-weight: bold;
  border-bottom: 1px solid @cwColor1;
}

/* List Box header */
ul.property-details .property-title {
  font-weight: bold;
  font-size: @cwFontTitleSize;
  border-bottom: 1px solid @cwColor1;
  .cw-property-details-right {
    .btn:hover {
      .fa {
        color: @cwPageActionButtonIconColor;
      }
    }
  }
}

/* Profile button */
ul.popout-top-container {
  .btn .fa {
    color: @cwPopupTitleTextColor;
  }
}

/* Diagram breadcrumb */
div.cwDiagramBreadcrumb {
  a.btn {
    i.fa {
      color:@cwPageActionButtonIconColor;
    }
  }
}

/* Table Complex button */
.k-state-selected{
  color: @cwColor1;
}
th.k-header .k-state-active, .k-grid-toolbar .k-state-active {
    color: @cwAccentColor;
}

/* Advanced Matrix header */
table.cw-matrix-advanced {
  tr:hover{
    th.cw-header {
      a {
        color: @cwBodyBackgroundColor;
        div:before, div:after {
          background: @cwBodyBackgroundColor;
        }
      }
    }
  }
}


/* Mobile devices */
@media screen and (max-width:1023px) and (min-width:240px){
  /* tab user page */
  .profile ul a{
    color: @cwColor1; 
  }

  /* tab in view */
  .content.page-menu-shown .page-options ul li.cwTabLink.selected a {
    color: @cwColor1;
    background: @cwMenuLeftMainNavigationBackgroundColorActive;
  }
}