/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
/* Masquer le bouton Print */
a#cw_print_btn {
  display: none;
}
/* Properties group header */
div.cwPropertiesTableHeader {
  font-weight: bold;
  border-bottom: 1px solid #03a0ce;
}
/* List Box header */
ul.property-details .property-title {
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1px solid #03a0ce;
}
ul.property-details .property-title .cw-property-details-right .btn:hover .fa {
  color: #ffffff;
}
/* Profile button */
ul.popout-top-container .btn .fa {
  color: #ffffff;
}
body #cw-top-bar .page-title {
  color: rgba(55, 131, 154, 0.1);
}
body #cw-top-bar .tb-profile-container .tb-profile-popout table .logout td a,
body #cw-top-bar .tb-profile-container .tb-profile-popout table .logout td a:hover {
  color: rgba(55, 131, 154, 0.1);
  background-color: #03a0ce;
  border: solid 4px #03a0ce;
}
body #cw-top-bar .tb-profile-container .tb-profile-popout table td a,
body #cw-top-bar .tb-profile-container .tb-profile-popout table td a:hover {
  color: #03a0ce;
}
body #cw-top-bar .tb-profile-container .tb-profile-popout {
  border: 0px solid rgba(55, 131, 154, 0.1);
}
.tb-profile-container .tb-username,
.tb-profile-container i {
  color: rgba(55, 131, 154, 0.1);
}
.tb-profile-container .user {
  background-color: rgba(55, 131, 154, 0.1);
}
/* Top Breadcrumb*/
#cw-smart-bc {
  color: rgba(55, 131, 154, 0.1);
}
#cw-smart-bc a,
#cw-smart-bc li .cw-bc-seperator {
  color: rgba(55, 131, 154, 0.1);
}
.cw-bc-dropdown-content a {
  background-color: #03a0ce;
}
.cw-bc-dropdown-default span,
.cw-bc-dropdown-default span:hover {
  color: rgba(55, 131, 154, 0.1);
}
/* Diagram breadcrumb */
div.cwDiagramBreadcrumb a.btn i.fa {
  color: #ffffff;
}
/* Table Complex button */
.k-state-selected {
  color: #03a0ce;
}
th.k-header .k-state-active,
.k-grid-toolbar .k-state-active {
  color: #e91527;
}
div.k-header.k-grid-toolbar {
  background: #03a0ce;
  color: rgba(55, 131, 154, 0.1);
}
/* Advanced Matrix header */
table.cw-matrix-advanced tr:hover th.cw-header a {
  color: rgba(55, 131, 154, 0.1);
}
table.cw-matrix-advanced tr:hover th.cw-header a div:before,
table.cw-matrix-advanced tr:hover th.cw-header a div:after {
  background: rgba(55, 131, 154, 0.1);
}
/* Mobile devices */
@media screen and (max-width: 1023px) and (min-width: 240px) {
  /* tab user page */
  .profile ul a {
    color: #03a0ce;
  }
  /* tab in view */
  .content.page-menu-shown .page-options ul li.cwTabLink.selected a {
    color: #03a0ce;
    background: rgba(147, 176, 193, 0.15);
  }
}
ul.navViews li.selected {
  border-left: solid 1px #f1f1f1;
  border-right: solid 1px #f1f1f1;
}
/* Simple Table */
table.cw-grid tr th {
  border-left: solid 1px #03a0ce;
  border-bottom: solid 1px #03a0ce;
  border-top: solid 1px #03a0ce;
  color: rgba(55, 131, 154, 0.1);
  background: #03a0ce;
}
table.cw-grid tr th:last-child {
  border-right: solid 1px #03a0ce;
}
table.cw-grid tr td {
  border-color: rgba(3, 160, 206, 0.4);
}
table.cw-grid tr td:last-child {
  border-right: solid 1px rgba(3, 160, 206, 0.4);
}
div.simpletable-title {
  font-weight: bold;
  font-size: 15px;
  color: #03a0ce;
  background-color: rgba(55, 131, 154, 0.1);
  padding-bottom: 0px;
  padding-top: 15px;
}
table.cw-grid {
  padding-bottom: 30px;
}
table.cw-grid th {
  font-size: 12px;
}
table.cw-grid td ul.cw-list {
  padding-left: 15px;
}
ul.cw-list {
  list-style: none;
}
div.cwPropertiesTableContainer {
  padding-bottom: 30px;
}
.homePage_display_content .tableForPopoutWrapper .cw-grid {
  max-width: 100%;
}
li.cw-accordion-container:hover div.cw-accordion-header {
  background-color: #03a0ce;
}
li.cw-accordion-container:hover div.cw-accordion-header a {
  color: #ffffff;
}
li.cw-accordion-container:hover div.cw-accordion-content {
  border-color: #03a0ce;
}
li.cw-accordion-container div.cw-accordion-header:hover {
  background-color: rgba(55, 131, 154, 0.1) !important;
  color: #03a0ce;
}
li.cw-accordion-container div.cw-accordion-header:hover a,
li.cw-accordion-container div.cw-accordion-header:hover span {
  color: #03a0ce;
}
li.cw-accordion-container div.cw-accordion-header:hover + div.cw-accordion-content {
  border-color: rgba(55, 131, 154, 0.1);
}
li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container div.cw-accordion-header {
  background-color: #02799c;
}
li.cw-accordion-container li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container li.cw-accordion-container div.cw-accordion-header {
  background-color: #038cb5;
}
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container div.cw-accordion-header {
  background-color: #03a0ce;
}
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container div.cw-accordion-header {
  background-color: #03b4e7;
}
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container div.cw-accordion-header {
  background-color: #09c4fb;
}
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container:hover div.cw-accordion-header,
li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container li.cw-accordion-container div.cw-accordion-header {
  background-color: #22cafc;
}
ul.property-details .property-title {
  padding: 0px;
}
th.cw-header div {
  color: rgba(55, 131, 154, 0.1);
}
.popout-title a {
  color: rgba(55, 131, 154, 0.1);
}
.cwDiagramExplosionMultipleChoice li {
  text-align: inherit;
}
.cwDiagramExplosionMultipleChoice li:hover {
  background-color: #03a0ce;
  color: rgba(55, 131, 154, 0.1);
}
.cwDiagramExplosionMultipleChoice li:hover a {
  color: rgba(55, 131, 154, 0.1);
}
body .main-nav a.cw-menu-link.activeLink,
body .main-nav a.cw-menu-link:hover,
body .main-nav a.cw-menu-link:focus {
  border-right: solid 3px;
}
body .main-nav .main-level > .active > a.hassub .cw-menu-arrow-zone .cw-menu-arrow {
  border-right-color: #03a0ce;
}
body .main-nav .main-level .cw-menu-zone .sub-level a.cw-menu-link.activeLink,
body .main-nav .main-level .cw-menu-zone .sub-level a.cw-menu-link:hover,
body .main-nav .main-level .cw-menu-zone .sub-level a.cw-menu-link:focus {
  border-right-color: #03a0ce;
}
li.cwTabLink.selected {
  border-right: solid 3px;
  border-right-color: #03a0ce;
}
/* Top Breadcrumb*/
#cw-smart-bc {
  color: white;
}
#cw-smart-bc a,
#cw-smart-bc li .cw-bc-seperator {
  color: white;
}
.cw-bc-dropdown-content a {
  background-color: #03a0ce;
}
.cw-bc-dropdown-default span,
.cw-bc-dropdown-default span:hover {
  color: white;
}
li.popout-title a {
  color: #ffffff;
}
.homePage_display_content {
  padding: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.homePage_display_content ul.cw-list {
  padding: 0px;
  margin: 0px;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox img {
  border-radius: 50%;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .link {
  border-top: 0px solid #03a0ce;
}
div.cwPropertiesTableHeader {
  background-color: transparent;
  border-bottom: 0px solid #03a0ce;
}
.tabContent {
  background-color: white;
}
.CoffeeMaker div.propertieslist,
.bootstrap-iso {
  background-color: transparent;
}
.homePage_last_modified_object table.cwPropertiesTable td td,
table.cwPropertiesTable td,
.homePage_last_modified_object table.cwPropertiesTable td th,
table.cwPropertiesTable th {
  border: 0px solid rgba(55, 131, 154, 0.1);
  border-bottom: 1px solid rgba(55, 131, 154, 0.1);
}
@media screen and (min-width: 1024px) {
  #nav-container {
    margin-top: 41px;
  }
  body .main-nav {
    position: fixed;
  }
  body .main-nav .sub-level {
    position: fixed;
    margin-top: 41px;
  }
}
body #cw-top-bar .tb-profile-container .tb-username,
body #cw-top-bar .tb-profile-container i {
  color: white;
}
body #cw-top-bar .tb-profile-container.show .tb-profile-popout {
  background-color: white;
}
body #cw-top-bar .tb-profile-container.show .tb-profile-popout .user {
  background-color: rgba(55, 131, 154, 0.1);
}
body #cw-top-bar .tb-profile-container.show .tb-profile-popout table .logout td a {
  color: white;
}
.k-grid,
div.cwPropertiesTableContainer,
div.CwPropertiesLayoutHelpText,
ul.cw-diagram-zone li.cw-diagram-zone,
div.cw-accordion-container,
table.cw-grid,
div.property-box-asso,
.cw-matrix-content,
.cw-dashboard-container,
.cwLayoutTimeline,
.page-content div.cwLayoutSearch div.search-zone,
.page-content div.cwLayoutSearch div.result-container ul.search-zone-result li.search-result-node,
.cw-jvector-map,
.cw-jvectormap-from-list .cwLayoutList,
.cwLayoutNetwork,
.cwPivotWrapper,
.cwLayoutCustomQuery-wrapper,
.cwTimelineTable,
.cwLayoutCompare,
.cwRadarWrapper,
.cwLayoutGraph2D,
.cwLayoutTree,
.nextGenCard {
  box-shadow: 0 8px 32px rgba(47, 60, 74, 0.01), 0 8px 16px rgba(47, 60, 74, 0.02);
  border: solid 1px #e4e4e7;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.nextGenCard {
  background-color: white;
}
.nextGenCard .homePage_display_title {
  padding-left: 0.5rem;
}
div[id*="cw-layout-emodeler-diagrams-content"] {
  width: 100%;
}
.cwRadarWrapper {
  margin-bottom: 1.5rem;
  background-color: white;
}
.cwRadarWrapper .cw-radar-chart {
  width: 100%;
}
.cwRadarWrapper .cw-dashboard-container {
  box-shadow: none;
  border: solid 0px #e4e4e7;
}
.cwRadarWrapper .cwPropertiesTableHeader {
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.cwLayoutGraph2D {
  background-color: white;
  padding: 1.5rem;
}
.cwLayoutTree {
  width: 100%;
  background-color: white;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper {
  background-color: white;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-chart {
  margin-bottom: 0px;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-header .icons-container .btn.page-action {
  box-shadow: none;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-header .icons-container .btn.page-action.icon {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 15px;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-header .icons-container .btn.page-action.icon.icon-activated {
  background-color: transparent;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-header .icons-container .btn.page-action.icon.icon-activated i {
  color: #03a0ce;
}
div.cwLayoutCustomQuery div.cwLayoutCustomQuery-wrapper .cwLayoutCustomQuery-header .icons-container .btn.page-action.icon i {
  color: #5c5d61;
}
.cwLayoutNetwork {
  background-color: white;
}
.cwLayoutNetwork .cwLayoutNetworkOption {
  right: 1rem;
  top: 1rem;
}
.cwLayoutNetwork .cwLayoutNetworkToolBox .btn {
  background-color: transparent;
  color: #2e2e2e;
  border: none;
  box-shadow: none;
  font-size: 15px;
}
.cwLayoutNetwork .cwLayoutNetworkToolBox .btn.selected,
.cwLayoutNetwork .cwLayoutNetworkToolBox .btn.fa-arrows-alt,
.cwLayoutNetwork .cwLayoutNetworkToolBox .btn.fa-download,
.cwLayoutNetwork .cwLayoutNetworkToolBox .btn.fa-files-o {
  background-color: transparent;
  color: #03a0ce;
}
div.cwLayoutTimelineButtons a.btn.page-action {
  background-color: transparent;
  color: #03a0ce;
  border: none;
  box-shadow: none;
  font-size: 15px;
}
.homePage_evolveView .cwPivotWrapper {
  border: none;
}
.cwPivotWrapper {
  background-color: white;
  padding: 1.25rem;
}
.cwPivotWrapper .cwPivotToolBoxButton .btn {
  background-color: transparent;
  color: #2e2e2e;
  border: none;
  box-shadow: none;
  font-size: 15px;
}
.cwPivotWrapper .cwPivotToolBoxButton .btn.selected {
  background-color: transparent;
  color: #03a0ce;
}
.cw-jvector-map {
  background-color: white;
}
.cw-jvectormap-from-list .cwLayoutList {
  min-width: 0px;
  padding: 1.25rem;
  background-color: white;
}
.cw-jvectormap-from-list > .cwLayoutList {
  overflow-y: scroll;
}
table.cw-grid {
  padding-bottom: 0px;
  margin-bottom: 1.5rem;
}
table.cw-grid tr th {
  color: white;
}
table.cw-grid tr:hover {
  background-color: rgba(55, 131, 154, 0.1) !important;
}
table.cw-grid td {
  border-left: none;
}
div.simpletable-title {
  width: 100%;
  background-color: white;
}
div.cw-accordion-content {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
}
div.cw-accordion-content .cw-accordion-header {
  width: 100%;
}
div.cw-accordion-content ul.property-details .property-title {
  background-color: rgba(55, 131, 154, 0.1);
}
div.cw-accordion-content li.cw-accordion-container {
  margin-right: 0px;
}
.cwLayoutTimeline {
  background-color: white;
}
.tab-content .cwLayoutTimeline {
  display: none;
}
.tab-content.visible .cwLayoutTimeline {
  display: initial;
}
.cw-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
body:not(.cw_print) .page-content-wrap .page-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 15px;
}
.view-region > div .property-box-asso,
.view-region > div .property-box,
.view-region > div .cwPropertiesTableContainer {
  min-width: 0px;
  width: 100%;
}
.view-region div.property-box.property-box-asso {
  min-width: 0px;
}
.cwLayoutList {
  padding-left: 0.25rem;
  width: 100%;
}
.property-box-asso ul.property-details .property-value,
div.filteredListBox ul.property-details .property-value {
  padding: 1.5rem;
}
.property-box-asso div.cw-property-details-left,
div.filteredListBox div.cw-property-details-left {
  padding-left: 1.5rem;
}
.property-box-asso ul.property-details .property-value,
div.filteredListBox ul.property-details .property-value {
  border: none;
}
div.property-box.property-box-asso {
  min-width: 20rem;
  margin-bottom: 1.5rem;
  max-width: 2010px;
}
div.CwPropertiesLayoutHelpText {
  background-color: white;
  margin-bottom: 1.5rem;
}
div.CwPropertiesLayoutHelpText[id*="noicon"] .fa {
  display: none;
}
.cw-matrix-content {
  margin-bottom: 1.5rem;
}
table.cw-matrix-advanced tr:hover th {
  background-color: transparent !important;
}
.cw-matrix-col-header,
.cw-matrix-row-header {
  background-color: transparent !important;
  border: none !important;
  color: #03a0ce !important;
  border-bottom: solid 1px rgba(3, 160, 206, 0.4) !important;
}
.cw-matrix-col-header a div,
.cw-matrix-row-header a div {
  color: #03a0ce !important;
}
.cw-matrix-col-header a div::before,
.cw-matrix-row-header a div::before,
.cw-matrix-col-header a div::after,
.cw-matrix-row-header a div::after {
  display: none;
}
.cwDiagramBreadcrumb ul.cwDiagramBreadcrumbZone li.cwDiagramBreadcrumbZoneRight a.btn:hover i.fa {
  color: white;
}
.cwDiagramBreadcrumb ul.cwDiagramBreadcrumbZone li.cwDiagramBreadcrumbZoneRight a.btn i.fa {
  color: #03a0ce;
}
.cwDiagramBreadcrumb {
  background-color: white;
  border-bottom: 1px solid #03a0ce;
}
.k-stockchart,
div.k-chart,
div.k-gauge,
span.k-sparkline {
  background-color: white;
}
.cw-dashboard-container {
  margin-bottom: 0px;
}
a.cw-searchengin-clear.btn i {
  color: white;
}
div.cwPropertiesTableContainer {
  padding-bottom: 0px;
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  max-width: 100%;
  margin-right: 0px;
  min-width: 20rem;
}
div.cwPropertiesTableContainer table.cwPropertiesTable {
  border-collapse: unset;
}
div.cwPropertiesTableContainer table.cwPropertiesTable tr td,
div.cwPropertiesTableContainer table.cwPropertiesTable tr th {
  border: none;
}
div.cwPropertiesTableContainer table.cwPropertiesTable tr:not(:last-child) td,
div.cwPropertiesTableContainer table.cwPropertiesTable tr:not(:last-child) th {
  border: none;
  border-bottom: 1px solid rgba(55, 131, 154, 0.1);
}
div.CwPropertiesLayoutFlatList,
ul.CwPropertiesLayoutFlatList {
  background-color: white;
}
.cwPropertiesTableContainer.cw-visible.CwPropertiesLayoutMultilineText td:hover {
  background-color: white;
}
.wrap-kendo-mobile {
  width: 100%;
}
div.empty.k-grid {
  width: 100%;
}
div.empty.k-grid div.empty.k-grid .k-grid-header th.k-header {
  background-color: white;
}
div.empty.k-grid div.property-box.property-box-asso {
  min-width: 0px;
  width: calc(100% - 1rem);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
div.empty.k-grid .k-grid-header,
div.empty.k-grid th.k-header {
  background: white !important;
}
div.empty.k-grid .k-grid-content tr:hover ul.property-details .property-title {
  background-color: white;
}
div.empty.k-grid tr.k-alt ul.property-details .property-title {
  background-color: white;
}
div.empty.k-grid tr.k-alt div.property-box {
  background-color: white;
}
div.empty.k-grid td {
  border-style: solid;
  border-width: 0 0 1px 0;
}
div.empty.k-grid tr:hover {
  background-color: rgba(55, 131, 154, 0.1);
}
div.empty.k-grid div.k-header.k-grid-toolbar {
  color: #ffffff;
}
div.empty.k-grid .k-button {
  border: none;
  background-color: white;
}
div.empty.k-grid .k-alt,
div.empty.k-grid .k-grouping-header,
div.empty.k-grid .k-grouping-row,
div.empty.k-grid .k-grouping-row td,
div.empty.k-grid td.k-group-cell {
  background-color: white;
}
div.empty.k-grid .k-grid-header th.k-header {
  border-width: 0;
}
div.empty.k-grid .k-primary {
  color: #2e2e2e;
}
div.empty.k-grid .k-grid-filter {
  outline: -webkit-focus-ring-color auto 0px;
}
div.empty.k-grid .k-pager-wrap {
  background-color: white;
}
div.empty.k-grid .k-pager-wrap .k-state-selected {
  background-color: white;
  border-color: white;
}
div.empty.k-grid .k-pager-wrap .k-dropdown-wrap {
  background-color: white !important;
  border-color: white !important;
}
div.empty.k-grid .k-pager-wrap .k-dropdown-wrap.k-state-focused {
  background-color: white !important;
  border-color: white !important;
  box-shadow: 0 0 0;
}
div.empty.k-grid .k-pager-wrap .k-link {
  border-color: white;
}
div.empty.k-grid .k-pager-wrap .k-link:hover {
  border-color: white;
}
div.empty.k-grid .k-pager-wrap .k-link:hover .k-icon {
  color: #03a0ce;
}
